Repository rh-gitops-midstream/release: changes, and which Tekton pipelines are due for each by the changed paths.
All: gitops-backend-main-on-push, gitops-console-plugin-1-17-on-push, gitops-operator-bundle-main-on-push

gitops-backend-main-on-push:
  spec: null
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-backend-main:{{revision}}
  - name: dockerfile
    value: Dockerfile
  - name: path-context
  ...

gitops-console-plugin-1-17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-console-plugin:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

gitops-operator-bundle-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-operator-bundle-main:{{revision}}
  - name: dockerfile
    value: bundle.Dockerfile
  - name: path-context
  ...

Use tag
  konflux-ci/tasks/generate-metadata.yaml
Due: none

Fetch tags
  konflux-ci/pipelines/build-multi-platform-image.yaml
Due: none

Revert "adding RPM spec and required files"
  argocd-cli/Makefile
  argocd-cli/content_sets.yml
  argocd-cli/openshift-gitops-argocd-cli.spec.in
  argocd-cli/pre-build-script
Due: none

Generate metadata for builds
  .tekton/dex-pull-request.yaml
  .tekton/dex-push.yaml
  .tekton/gitops-backend-pull-request.yaml
  .tekton/gitops-backend-push.yaml
  TAG
  config.yaml
  dex/Dockerfile
  gitops-backend/Dockerfile
  konflux-ci/pipelines/build-multi-platform-image.yaml
  konflux-ci/tasks/generate-metadata.yaml
Due: gitops-backend-main-on-push

Red Hat Konflux purge gitops-backend-main Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/gitops-backend-main-pull-request.yaml
  .tekton/gitops-backend-main-push.yaml
Due: gitops-backend-main-on-push

Red Hat Konflux purge gitops-must-gather-main Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/gitops-must-gather-main-pull-request.yaml
  .tekton/gitops-must-gather-main-push.yaml
Due: none

Red Hat Konflux purge gitops-console-plugin-main Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/gitops-console-plugin-main-pull-request.yaml
  .tekton/gitops-console-plugin-main-push.yaml
Due: gitops-console-plugin-1-17-on-push

Red Hat Konflux purge gitops-operator-bundle-main Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/gitops-operator-bundle-main-pull-request.yaml
  .tekton/gitops-operator-bundle-main-push.yaml
Due: gitops-operator-bundle-main-on-push

Red Hat Konflux purge gitops-operator-main Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/gitops-operator-main-pull-request.yaml
  .tekton/gitops-operator-main-push.yaml
Due: none

Red Hat Konflux purge argo-cd-main Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/argo-cd-main-pull-request.yaml
  .tekton/argo-cd-main-push.yaml
Due: none

Red Hat Konflux purge argo-rollouts-main Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/argo-rollouts-main-pull-request.yaml
  .tekton/argo-rollouts-main-push.yaml
Due: none

Generate metadata for builds
  .tekton/argo-cd-pull-request.yaml
  .tekton/argo-cd-push.yaml
  .tekton/argo-rollouts-pull-request.yaml
  .tekton/argo-rollouts-push.yaml
  .tekton/argocd-extension-installer-pull-request.yaml
  .tekton/argocd-extension-installer-push.yaml
  .tekton/dex-pull-request.yaml
  .tekton/dex-push.yaml
  .tekton/gitops-backend-pull-request.yaml
  .tekton/gitops-backend-push.yaml
  .tekton/gitops-console-plugin-pull-request.yaml
  .tekton/gitops-console-plugin-push.yaml
  .tekton/gitops-must-gather-pull-request.yaml
  .tekton/gitops-must-gather-push.yaml
  .tekton/gitops-operator-bundle-pull-request.yaml
  .tekton/gitops-operator-bundle-push.yaml
  .tekton/gitops-operator-pull-request.yaml
  .tekton/gitops-operator-push.yaml
  TAG
  argo-cd/Dockerfile
  argo-rollouts/Dockerfile
  argocd-extension-installer/Dockerfile
  config.yaml
  dex/Dockerfile
  gitops-backend/Dockerfile
  gitops-console-plugin/Dockerfile
  gitops-operator-bundle/bundle.Dockerfile
  gitops-operator/Dockerfile
  konflux-ci/pipelines/build-multi-platform-image.yaml
  konflux-ci/tasks/generate-metadata.yaml
Due: gitops-backend-main-on-push, gitops-console-plugin-1-17-on-push, gitops-operator-bundle-main-on-push

Add a make target to update sources
  Makefile
  config.yaml
Due: none

Bump golang in Argo CD
  argo-cd/Dockerfile
Due: none

Enable builds on P & Z
  .tekton/argo-cd-push.yaml
  .tekton/argo-rollouts-push.yaml
  .tekton/argocd-extension-installer-push.yaml
  .tekton/dex-push.yaml
  .tekton/gitops-backend-push.yaml
  .tekton/gitops-console-plugin-push.yaml
  .tekton/gitops-must-gather-push.yaml
  .tekton/gitops-operator-bundle-push.yaml
  .tekton/gitops-operator-push.yaml
  konflux-ci/pipelines/build-multi-platform-image.yaml
Due: gitops-console-plugin-1-17-on-push

remove unwanted rpm install in Argo CD
  argo-cd/Dockerfile
Due: none

Fix metadata var
  konflux-ci/tasks/generate-metadata.yaml
Due: none

Update TAG to 4
  TAG
Due: none

Update bundle
  gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: gitops-operator-bundle-main-on-push

Add missing metadata in bundle
  gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
  gitops-operator-bundle/patch-bundle.py
Due: gitops-operator-bundle-main-on-push

Fix Argo CD version and kustomize build
  argo-cd/Dockerfile
Due: none

Fix EXTRA_BUILD_INFO for Argo CD
  argo-cd/Dockerfile
Due: none

Use CI_VERSION var
  argo-cd/Dockerfile
Due: none

Update images in CI
  konflux-ci/pipelines/build-multi-platform-image.yaml
Due: none

Update release to 5
  TAG
Due: none

Fix plugin copy in rollouts
  argo-rollouts/Dockerfile
Due: none

Update bundle with latest 1.16.2 image
  gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: gitops-operator-bundle-main-on-push

Add source-code submodules
  .gitmodules
  README.md
Due: none

Add source code for GitOps components
  .gitignore
  Makefile
  config.yaml
  docs/sources.md
  hack/deps.sh
  hack/sync-sources.sh
  hack/verify-sources.sh
Due: none

Add License
  LICENSE
Due: none

Add CI build for gitops-operator
  .tekton/build-multi-platform-image.yaml
  .tekton/gitops-operator-pull-request.yaml
  .tekton/gitops-operator-push.yaml
  .tekton/tasks/generate-metadata.yaml
  TAG
  build/rpms/ubi8/.gitignore
  build/rpms/ubi8/Dockerfile
  build/rpms/ubi8/rpms.in.yaml
  build/rpms/ubi8/rpms.lock.yaml
  build/rpms/ubi8/ubi8.repo
Due: none

Fix pipelinerun error
  .tekton/tasks/generate-metadata.yaml
Due: none

feat: Add CI build for gitops-operator (#75)
  .tekton/build-multi-platform-image.yaml
  .tekton/gitops-operator-pull-request.yaml
  .tekton/gitops-operator-push.yaml
  .tekton/tasks/generate-metadata.yaml
  TAG
  build/rpms/ubi8/.gitignore
  build/rpms/ubi8/Dockerfile
  build/rpms/ubi8/rpms.in.yaml
  build/rpms/ubi8/rpms.lock.yaml
  build/rpms/ubi8/ubi8.repo
Due: none

correct dockerfile path and image name for gitops-operator
  .tekton/gitops-operator-pull-request.yaml
  .tekton/gitops-operator-push.yaml
Due: none

fix: correct dockerfile path and image name for gitops-operator (#76)
  .tekton/gitops-operator-pull-request.yaml
  .tekton/gitops-operator-push.yaml
Due: none

Add service account for CI runs
  .tekton/gitops-operator-pull-request.yaml
  .tekton/gitops-operator-push.yaml
Due: none

fix quotes
  .tekton/gitops-operator-pull-request.yaml
  .tekton/gitops-operator-push.yaml
Due: none

Path conditions:
  gitops-backend-main-on-push: (any of: gitops-backend/***) or (any of: .tekton/gitops-backend-main-*.yaml)
  gitops-console-plugin-1-17-on-push: (any of: gitops-console-plugin/***) or (any of: .tekton/gitops-console-plugin-*.yaml)
  gitops-operator-bundle-main-on-push: (any of: gitops-operator-bundle/***) or (any of: .tekton/gitops-operator-bundle-main-*.yaml)
