Repository rh-gitops-midstream/release: changes, and which Tekton pipelines are due for each by the changed paths.
All: gitops-backend-main-on-push, gitops-operator-bundle-main-on-push

.tekton/gitops-backend-main-push.yaml:

apiVersion: tekton.dev/v1
kind: PipelineRun
metadata:
  annotations:
    build.appstudio.openshift.io/repo: https://github.com/rh-gitops-midstream/release?rev={{revision}}
    build.appstudio.redhat.com/commit_sha: '{{revision}}'
    build.appstudio.redhat.com/target_branch: '{{target_branch}}'
    pipelinesascode.tekton.dev/cancel-in-progress: "false"
    pipelinesascode.tekton.dev/max-keep-runs: "3"
    pipelinesascode.tekton.dev/on-cel-expression: event == "push" && target_branch
      == "main" && ( "gitops-backend/***".pathChanged() || ".tekton/gitops-backend-main-*.yaml".pathChanged()
      )
  creationTimestamp: null
  labels:
    appstudio.openshift.io/application: openshift-gitops-operator-main
    appstudio.openshift.io/component: gitops-backend-main
    pipelines.appstudio.openshift.io/type: build
  name: gitops-backend-main-on-push
  namespace: rh-openshift-gitops-tenant
spec:
  spec:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-backend-main:{{revision}}
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: gitops-backend
  - name: build-platforms
    value:
      - linux/x86_64
      - linux/arm64
  pipelineRef:
    resolver: git
    params:
      - name: url
        value: https://github.com/rh-gitops-midstream/release.git
      - name: revision
        value: main
      - name: pathInRepo
        value: /konflux-ci/pipelines/build-multi-platform-image.yaml
  taskRunTemplate: {}
  workspaces:
  - name: git-auth
    secret:
      secretName: '{{ git_auth_secret }}'
status: {}

.tekton/gitops-operator-bundle-main-push.yaml:

apiVersion: tekton.dev/v1
kind: PipelineRun
metadata:
  annotations:
    build.appstudio.openshift.io/repo: https://github.com/rh-gitops-midstream/release?rev={{revision}}
    build.appstudio.redhat.com/commit_sha: '{{revision}}'
    build.appstudio.redhat.com/target_branch: '{{target_branch}}'
    pipelinesascode.tekton.dev/cancel-in-progress: "false"
    pipelinesascode.tekton.dev/max-keep-runs: "3"
    pipelinesascode.tekton.dev/on-cel-expression: event == "push" && target_branch
      == "main" && ( "gitops-operator-bundle/***".pathChanged() || ".tekton/gitops-operator-bundle-main-*.yaml".pathChanged()
      )
  creationTimestamp: null
  labels:
    appstudio.openshift.io/application: openshift-gitops-operator-main
    appstudio.openshift.io/component: gitops-operator-bundle-main
    pipelines.appstudio.openshift.io/type: build
  name: gitops-operator-bundle-main-on-push
  namespace: rh-openshift-gitops-tenant
spec:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-operator-bundle-main:{{revision}}
  - name: dockerfile
    value: bundle.Dockerfile
  - name: path-context
    value: gitops-operator-bundle
  - name: build-image-index
    value: "false"
  - name: additional-tags
    value:
      - '{{target_branch}}'
  pipelineRef:
    resolver: git
    params:
      - name: url
        value: https://github.com/rh-gitops-midstream/release.git
      - name: revision
        value: main
      - name: pathInRepo
        value: /konflux-ci/pipelines/build-multi-platform-image.yaml
  taskRunTemplate: {}
  workspaces:
  - name: git-auth
    secret:
      secretName: '{{ git_auth_secret }}'
status: {}

Fix rollouts policy violations
  argo-rollouts/.gitignore
  argo-rollouts/Dockerfile
  argo-rollouts/rpms.lock.yaml
Due: none

Fix Argo CD violations
  argo-cd/Dockerfile
Due: none

Fix Conforma violations (#33)
  .tekton/dex-pull-request.yaml
  .tekton/dex-push.yaml
  argo-cd/Dockerfile
  argo-rollouts/.gitignore
  argo-rollouts/Dockerfile
  argo-rollouts/rpms.lock.yaml
  dex/.gitignore
  dex/Dockerfile
  dex/README.md
  dex/deps/README.md
  dex/deps/rpms/rpms.in.yaml
  dex/deps/rpms/ubi.repo
  dex/rpms.in.yaml
  dex/rpms.lock.yaml
  dex/ubi.repo
  gitops-backend/Dockerfile
  gitops-must-gather/Dockerfile
Due: gitops-backend-main-on-push

Fix dex rpm violation
  argo-rollouts/rpms.in.yaml
  dex/rpms.lock.yaml
  dex/ubi.repo
Due: none

Fix rollouts rpm violation
  argo-rollouts/rpms.lock.yaml
  argo-rollouts/ubi.repo
Due: none

Fix dex & rollouts rpm violations (#47)
  argo-rollouts/rpms.in.yaml
  argo-rollouts/rpms.lock.yaml
  argo-rollouts/ubi.repo
  dex/rpms.lock.yaml
  dex/ubi.repo
Due: none

Fix source image build for non multiarch image
  konflux-ci/pipelines/build-multi-platform-image.yaml
Due: none

Correct vendor name
  gitops-operator-bundle/bundle.Dockerfile
Due: gitops-operator-bundle-main-on-push

Fix bundle violations
  Makefile
  gitops-operator-bundle/bundle.Dockerfile
  gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
  gitops-operator-bundle/patches/csv.yaml
Due: gitops-operator-bundle-main-on-push

Fix source build
  .tekton/gitops-operator-bundle-pull-request.yaml
  .tekton/gitops-operator-bundle-push.yaml
Due: none

Build single arch image
  .tekton/gitops-operator-bundle-pull-request.yaml
  .tekton/gitops-operator-bundle-push.yaml
Due: none

Fix Conforma violations for bundle (#36)
  Makefile
  gitops-operator-bundle/bundle.Dockerfile
  gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
  gitops-operator-bundle/patches/csv.yaml
Due: gitops-operator-bundle-main-on-push

Update images in bundle
  gitops-operator-bundle/bundle.Dockerfile
  gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
  gitops-operator-bundle/bundle/metadata/annotations.yaml
  gitops-operator-bundle/patches/csv.yaml
  gitops-operator-bundle/patches/metadata.yaml
Due: gitops-operator-bundle-main-on-push

Correct metadata values in bundle image
  gitops-operator-bundle/bundle.Dockerfile
Due: gitops-operator-bundle-main-on-push

Fix channel value in bundle
  gitops-operator-bundle/bundle.Dockerfile
Due: gitops-operator-bundle-main-on-push

Fix package name in bundle
  gitops-operator-bundle/bundle/metadata/annotations.yaml
  gitops-operator-bundle/patches/metadata.yaml
Due: gitops-operator-bundle-main-on-push

Fix bundle env
  Makefile
  gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
  gitops-operator-bundle/patches/csv-env.yaml
  gitops-operator-bundle/patches/csv.yaml
  hack/update-image-shas.sh
Due: gitops-operator-bundle-main-on-push

Fix conforma violation with manual override
  gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: gitops-operator-bundle-main-on-push

Restructure repo and use python script for bundle generation
  Makefile
  config.yaml
  gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
  gitops-operator-bundle/bundle/metadata/annotations.yaml
  gitops-operator-bundle/patch-bundle.py
  gitops-operator-bundle/patches/csv-env.yaml
  gitops-operator-bundle/patches/csv.yaml
  gitops-operator-bundle/patches/metadata.yaml
  hack/update-image-shas.sh
  haproxy/image.yaml
  image-mapping.yaml
  keycloak/image.yaml
  kube-rbac-proxy/image.yaml
  redis/image.yaml
  release.yaml
  requirements.txt
Due: gitops-operator-bundle-main-on-push

Add CI config for argocd-extension-installer
  .tekton/argocd-extension-installer-pull-request.yaml
  .tekton/argocd-extension-installer-push.yaml
Due: none

Red Hat Konflux update argocd-extension-installer-1-16 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/argocd-extension-installer-1-16-pull-request.yaml
  .tekton/argocd-extension-installer-1-16-push.yaml
Due: none

Fix conforma for extension-installer
  argocd-extension-installer/Dockerfile
Due: none

Include extenstion component in bundle script
  config.yaml
  gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
  gitops-operator-bundle/patch-bundle.py
Due: gitops-operator-bundle-main-on-push

Make Argo CD fips complaint
  argo-cd/Dockerfile
Due: none

Fips complaint
  argo-cd/Dockerfile
  argo-rollouts/Dockerfile
  argo-rollouts/git-lfs
Due: none

FIPS
  .tekton/argo-rollouts-pull-request.yaml
  .tekton/argo-rollouts-push.yaml
  argo-cd/Dockerfile
  dex/Dockerfile
  gitops-backend/Dockerfile
  gitops-operator-bundle/patch-bundle.py
  gitops-operator/Dockerfile
Due: gitops-backend-main-on-push, gitops-operator-bundle-main-on-push

Fix
  .tekton/argo-rollouts-pull-request.yaml
  .tekton/argo-rollouts-push.yaml
  argo-cd/Dockerfile
Due: none

Debug
  argo-rollouts/Dockerfile
Due: none

Make Components FIPS compliant (#51)
  .tekton/argo-rollouts-pull-request.yaml
  .tekton/argo-rollouts-push.yaml
  argo-cd/Dockerfile
  argo-rollouts/Dockerfile
  argo-rollouts/git-lfs
  dex/Dockerfile
  gitops-backend/Dockerfile
  gitops-operator-bundle/patch-bundle.py
  gitops-operator/Dockerfile
Due: gitops-backend-main-on-push, gitops-operator-bundle-main-on-push

git-lfs submodule for rollouts
  .gitmodules
Due: none

Setup branch for 1.17 release
  .tekton/argo-cd-pull-request.yaml
  .tekton/argo-cd-push.yaml
  .tekton/argo-rollouts-pull-request.yaml
  .tekton/argo-rollouts-push.yaml
  .tekton/argocd-extension-installer-pull-request.yaml
  .tekton/argocd-extension-installer-push.yaml
  .tekton/dex-pull-request.yaml
  .tekton/dex-push.yaml
  .tekton/gitops-backend-pull-request.yaml
  .tekton/gitops-backend-push.yaml
  .tekton/gitops-console-plugin-pull-request.yaml
  .tekton/gitops-console-plugin-push.yaml
  .tekton/gitops-must-gather-pull-request.yaml
  .tekton/gitops-must-gather-push.yaml
  .tekton/gitops-operator-bundle-pull-request.yaml
  .tekton/gitops-operator-bundle-push.yaml
  .tekton/gitops-operator-pull-request.yaml
  .tekton/gitops-operator-push.yaml
  Makefile
  config.yaml
  gitops-operator-bundle/bundle.Dockerfile
  gitops-operator-bundle/patch-bundle.py
Due: gitops-operator-bundle-main-on-push

Update bundle
  gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
  gitops-operator-bundle/bundle/metadata/annotations.yaml
  gitops-operator-bundle/patch-bundle.py
Due: gitops-operator-bundle-main-on-push

Add renovate.json to update tekton bundles
  renovate.json
Due: none

Provide specific path in renovate
  renovate.json
Due: none

Update Argo CD
  argo-cd/Dockerfile
Due: none

Debug: use fixed yarnlock file
  .gitmodules
Due: none

Sync deps
  argo-cd/Dockerfile
Due: none
